@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat';
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  width: 100vw;
  /* height: 100vh; */
  background-image: url('/Landing_Page/portfolio/portfolio-images/portfolio-background2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h3 {
  font-family: 'Crimson Pro';
  display: inline-block;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}
body::-webkit-scrollbar-track {
  background-color: #f7f7f7;
}

body::-webkit-scrollbar-thumb {
  background-color: #d9461f;
}

#main-section {
  display: grid;
  justify-self: center;
  align-self: start;
  justify-content: center;
  height: 100vh;
}

#main-container {
  display: grid;
  width: 85vw;
  height: 100vh;
  grid-template-rows: 1fr 1fr;
}

#navbar {
  padding: 50px 0px;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr;
}

#logo {
}

#nav-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  list-style: none;
}

#shop-nav-links {
  padding-left: 20px;
}

.nav-links,
.icon-items {
}

.nav-links a,
.icon-items a {
  font-family: 'Raleway';
  text-decoration: none;
  font-weight: 700;
  color: #6c5e53;
}

.nav-links a:hover,
.icon-items a:hover {
  color: #d9461f;
}

/* MAIN CONTENT */
#big-image {
  justify-self: center;
  width: 90%;
  height: 90%;
}
#big-image img {
  width: 100%;
  height: 100%;
}

/* SHOP COLLECTION SECTION */
#shop-container {
  width: 100vw;
  display: grid;
  justify-items: center;
  margin: 0px 0px 100px;
}

#shop-collection-container {
  display: grid;
  width: 76.5vw;
  border-top: 4px solid #e2dfdd;
}

#shop-collection-container h2 {
  margin-top: 50px;
  justify-self: center;
  color: #6c5e53;
}

/* FIRST COLLECTION IMAGES */
#images-container {
  margin: 50px 0px;
  width: 76.5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.first-collection {
  margin: 20px 0px;
  display: grid;
  justify-items: center;
}
.first-collection img {
  width: 80%;
  height: 90%;
}

.p {
  justify-items: center;
  display: grid;
  font-weight: 700;
  color: #6c5e53;
  align-self: center;
}

.p span {
  margin-top: 5px;
  font-weight: 400;
}

/* SECOND COLLECTION */
#shop-collection-container-2 {
  display: grid;
  width: 76.5vw;
}

#shop-collection-container-2 h2 {
  margin-top: 20px;
  justify-self: center;
  color: #6c5e53;
}

#images-container-2 {
  margin: 50px 0px;
  width: 76.5vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.second-collection {
  margin: 20px 0px;
  display: grid;
  justify-items: center;
}
.second-collection img {
  width: 80%;
  height: 90%;
}

.p-2 {
  justify-items: center;
  display: grid;
  font-weight: 700;
  color: #6c5e53;
  align-self: center;
}

.p-2 span {
  margin-top: 5px;
  font-weight: 400;
}

/* FORM SECTION */
#another-brown-section {
  background-color: #d0c3b3;
  height: 20vh;
  width: 100vw;
  display: grid;
  justify-items: center;
}

#a-brown-container {
  width: 70vh;
  display: grid;
  align-items: center;
  justify-items: center;
}
#a-brown-container button {
  background-color: #d9461f;
  border: none;
  cursor: pointer;
  color: #f7f7f7;
  font-weight: 600;
  font-family: 'Montserrat';
  justify-self: start;
  width: 80%;
  height: 100%;
}

#a-brown-container-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

#a-brown-container-form h3 {
  font-weight: 600;
  font-family: 'Montserrat';
  font-size: 0.8rem;
  color: #6c5e53;
}

#a-brown-container-form input {
  border: none;
  border-bottom: 1px solid #6c5e53;
  background-color: transparent;
  color: #6c5e53;
  font-family: 'Montserrat';
  outline: none;
  padding: 5px 0px;
  width: 100%;
}

#a-brown-container-form input::placeholder {
  color: #f7f7f7;
  font-family: 'Montserrat';
}

input:invalid {
  border-bottom: 1px solid #630606;
}

/* BROWN PART */
#brown-section-main {
  height: 20vh;
  width: 100vw;
  background-image: url('/Landing_Page/portfolio/portfolio-images/banner.jpg');
}

/* FOOTER SECTION */
#footer-main-container {
  background-color: #6c5e53;
  width: 100vw;
  padding: 30px;
  display: grid;
  justify-items: center;
}

#footer-container {
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#footer-container p {
  font-size: 0.8rem;
  font-family: 'Montserrat';
  color: #f7f7f7;
}

#footer-container div:nth-child(2) {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5px;
}

#footer-container div:nth-child(2) button {
  border: none;
  background-color: #d0c3b3;
  color: #f7f7f7;
  display: grid;
  align-items: center;
  font-size: 1rem;
  height: 30px;
  width: 30px;
}

.visibility {
  visibility: hidden;
}

#menu-icon {
  background: none;
}

#hamburger {
  background: none;
  display: none;
}

@media (max-width: 768px) {
  #main-container {
    grid-template-columns: 1fr;
    align-items: end;
    /* height: 50vh;
    margin-top: 380px; */
  }
  #main-section {
    align-items: end;
    height: 55vh;
  }

  #big-image {
    align-self: end;
  }

  #hamburger {
    visibility: visible;
    position: fixed;
    display: flex;
    left: 30px;
    top: 100px;
    width: 25px;
    border: none;
  }

  #close-icon {
    display: none;
  }

  #menu-icon {
    height: 25px;
  }

  #navbar {
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    left: 20px;
    top: 70px;
    height: 50%;
  }

  .nav-links {
    margin: 10px;
  }

  #logo {
    position: fixed;
    left: -50px;
    top: 20px;
  }

  #nav-container {
    position: fixed;
    display: block;
    list-style: none;
    /* animation: ; */
  }

  #shop-nav-links {
    margin: none;
    padding: 0px;
  }
  #a-brown-container-form {
    height: 100%;
    align-items: end;
    text-align: center;
    justify-items: center;
    grid-template-columns: 1fr;
  }

  #a-brown-container button {
    align-self: center;
    height: 50%;
    width: 100%;
  }
}
